{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="{% static "frontend/css/tailwind.css" %}">
    <link rel="stylesheet" href="{% static "frontend/public/index.css" %}">
    <title>'Nights | Stream movies and TV shows</title>
</head>
<body class="bg-black text-white">
<div id="app"></div>
</body>
<script src="{% static "frontend/public/index.js" %}"></script>
</html>