@import "./fonts.scss";
@import "./variables.scss";

:root {
  font-family: "Almarai", "Open Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.text-xss {
  font-size: 0.6rem;
}

.text-n-red {
  color: $color-red !important;
}

.text-n-blue {
  color: $color-blue !important;
}

.v-gradient {
  background: linear-gradient(transparent, black);
}

.h-rainbow {
  background: linear-gradient(90deg, $color-blue, $color-red);
}

.border-1 {
  box-shadow: 0 0 0 1px white;
}

.hover\:border-1:hover {
  box-shadow: 0 0 0 1px white;
}

.highlight-before {
  color: white !important;
  &::before {
    background: linear-gradient(90deg, $color-blue, $color-red);
    box-sizing: border-box;
    height: 2px;
    left: 0 !important;
    right: 0 !important;
  }
}

.highlight-red-before {
  &::before {
    background: $color-red !important;
  }
}

.underline-before {
  position: relative;
  padding: 0 0.3rem 0.3rem 0.3rem;
  color: #777;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    transition: all ease-in-out 300ms;
  }
}

.video-js .vjs-modal-dialog-content {
  .vjs-track-settings-colors {
    color: black;
  }
  .vjs-track-settings-font {
    color: black;
  }
}
