@import "./variables.scss";

.cw-card-container {
  transition: transform ease-in 200ms;

  .progress {
    transition: transform ease-in-out 200ms;
  }

  &:hover {
    transform: scale(0.9);

    .progress {
      transform: scaleY(2);
    }
  }
}
