@import "./fonts.scss";
@import "./variables.scss";

:root {
  font-size: 1vw;
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 3vw;
  }
}

* {
  font-family: "Almarai", "Open Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.text-xss {
  font-size: 0.6rem;
}

.text-n-red {
  color: $color-red !important;
}

.text-n-blue {
  color: $color-blue !important;
}

.v-gradient {
  background: linear-gradient(transparent, black);
}

.v-gradient-inverse {
  background: linear-gradient(black, transparent);
}

.h-rainbow {
  background: linear-gradient(90deg, $color-blue, $color-red);
}

.border-1 {
  box-shadow: 0 0 0 1px white;
}

.hover\:border-1:hover {
  box-shadow: 0 0 0 1px white;
}

.highlight-before {
  color: white !important;
  &::before {
    background: $color-blue !important;
    box-sizing: border-box;
    height: 2px;
    left: 0 !important;
    right: 0 !important;
  }
}

.underline-before {
  position: relative;
  padding: 0 0.3rem 0.3rem 0.3rem;
  color: white;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 2px;
    background: $color-red !important;
    transition: all ease-in-out 300ms;
  }
}

.carousel-row {
  padding-top: 1.3vw;
  padding-bottom: 2vw;
}
