@import "./fonts.scss";
@import "./variables.scss";

:root {
  font-size: 1.1vw;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 3vw;
  }
}

* {
  font-family: "Almarai", "Open Sans", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

    &:focus {
        outline: none !important;
    }
}

.text-xss {
  font-size: 0.6rem;
}

.text-n-red {
  color: $color-red !important;
}

.text-n-blue {
  color: $color-blue !important;
}

.bg-n-red {
  background-color: $color-red;
}

.bg-n-blue {
  background-color: $color-blue;
}

.hover\:bg-n-red:hover {
  background-color: $color-red;
}

.hover\:bg-n-blue:hover {
  background-color: $color-blue;
}

.v-gradient {
  background: linear-gradient(transparent, black);
}

.v-gradient-88 {
  background: linear-gradient(transparent, #00000088);
}

.v-gradient-inverse {
  background: linear-gradient(black, transparent);
}

.h-rainbow {
  background: linear-gradient(90deg, $color-blue, $color-red);
}

.border-1 {
  box-shadow: 0 0 0 1px white;
}

.hover\:border-1:hover {
  box-shadow: 0 0 0 1px white;
}

.highlight-before {
  &::before {
    background: $color-red !important;
    box-sizing: border-box;
    opacity: 1 !important;
    height: 2px;
  }
  &::after {
    border-top-color: $color-red !important;
  }
}

.underline-before {
  position: relative;
  padding: 0 4rem .5rem 4rem;

  &::before {
    content: "";
    background: white;
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    transition: all ease-in-out 300ms;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: .1rem;
    border-left: .7rem solid transparent;
    border-right: .7rem solid transparent;
    border-top: .5rem solid transparent;
    transform: translate(-50%, 100%);
    transition: all ease-in-out 300ms;
  }
}

.carousel-row {
  padding-top: 1vw;
  padding-bottom: 2vw;
  &:hover {
    z-index: 40;
  }
}

.title-page-nav::before {
  content: "";
  position: absolute;
  background: white;
  opacity: 0.3;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}

.search-input {
  width: 15rem;
  &:focus {
    width: 20rem;
  }
}

.route-wrapper {
  position: relative;

  &> div {
    position: relative;
  }
}

