.episode-card-container {
  transition: all ease-in-out 200ms;
  .episode-play-icon {
    opacity: 0;
    transition: opacity ease-in-out 300ms;
  }
  &:hover {
    .episode-play-icon {
      opacity: 1;
    }
  }
}
