@import "./variables.scss";

.video-js {
  width: 100vw;
  height: 100%;
  transition: width 500ms;
  overflow: hidden;

  .vjs-big-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    font-size: 5rem;
    border-radius: 50%;
    border: none;
  }

  .vjs-control,
  .vjs-menu-button {
    outline: none;
    &:focus {
      text-shadow: none;
    }
  }
  .vjs-control-bar {
    height: 3.5rem;
    background: linear-gradient(transparent, black);
  }

  .vjs-progress-control {
    position: absolute;
    width: 100%;
    bottom: 100%;
  }

  .vjs-time-control {
    display: block;
    line-height: 3rem;
    font-size: 1rem;
  }

  .vjs-remaining-time {
    display: none;
  }

  .vjs-current-time {
    margin-left: auto;
  }
  .vjs-volume-control.vjs-volume-horizontal {
    margin-top: 0.5rem;
  }

  .vjs-button > .vjs-icon-placeholder:before {
    font-size: 3em;
    line-height: 3rem;
  }

  .vjs-control {
    min-width: 5rem;
    transition: color 200ms;
    &:hover {
      color: #ed1b58;
    }
  }

  .vjs-modal-dialog.vjs-text-track-settings {
    z-index: 1;
  }
}

.video-js.vjs-paused.vjs-has-started .vjs-title-bar,
.video-js.vjs-user-active.vjs-has-started .vjs-title-bar {
  opacity: 1;
  transition: 200ms;
}

video {
  outline: none;
}

.season-container {
  position: absolute;
  width: 25vw;
  height: 100%;
  top: 0;
  right: -25vw;
  transition: right 500ms;
}

.video-js .vjs-modal-dialog-content {
  .vjs-track-settings-colors {
    color: black;
  }
  .vjs-track-settings-font {
    color: black;
  }
}

@media screen and (max-width: 600px) {
  .video-js {
    .vjs-volume-panel,
    .vjs-duration,
    .vjs-time-divider,
    .vjs-mute-control {
      display: none;
    }
  }
}

.vjs-paused.vjs-has-started .vjs-big-play-button {
  display: block;
}
