@import "./variables.scss";

.cw-card-container {
  transition: transform ease-in 200ms;

  .progress {
    transition: transform 200ms;
  }
  .play-icon {
    opacity: 0;
  }

  .name {
    margin-top: 1.2rem;
  }

  .secondary-info {
    opacity: 0;
  }

  &:hover {
    transform: scale(0.9);

    .name {
      margin-top: 0;
    }

    .secondary-info {
      opacity: .75;
    }

    .progress {
      transform: scaleY(2);
    }

    .play-icon {
      opacity: 1;
    }
  }
}
