@import "./variables.scss";

.button-container {
  background: $color-red;
  box-shadow: 0 0 15px $color-red;
  transition: box-shadow ease-in 200ms;

  &:hover {
    background: linear-gradient(90deg, $color-blue, $color-red);
    box-shadow: 0 0 40px $color-blue;
  }
}
